# Extracción, Transformación y Carga de datos(ETL)

Este conjunto de operaciones mencionadas: Extracción, transformación y Carga de datos, es fundamental para tener una buena consistencia y calidad de datos. En este notebook se verán las librerías a usar, archivos, se hará manejo de datos nulos, tipos de datos, entre otros casos. Dejarán los datos listos para analizar en nuestro EDA (Análisis exploratorio de datos).

### Importamos librerías

Estas librerías nos permiten manipular los datos y prepararlos para ser analizados.

In [2]:
import pandas as pd
import numpy as np
import Herramientas as Herr

### Carga de datos

Se realiza la lectura del dataset que se entregó para el proyecto. Para ello, utilizamos la librería Pandas.

In [3]:
data_hechos = pd.read_excel('Datasets/homicidios.xlsx',engine='openpyxl')
data_hechos

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,2021,12,13,17:10:00,17,AV. RIESTRA Y MOM,AVENIDA,...,NaN,MOM,RIESTRA AV. y MOM,7,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO
692,2021-0094,1,2021-12-20,2021,12,20,01:10:00,1,AU DELLEPIANE Y LACARRA,AUTOPISTA,...,NaN,LACARRA AV.,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO
693,2021-0095,1,2021-12-30,2021,12,30,00:43:00,0,AV. GAONA Y TERRADA,AVENIDA,...,NaN,TERRADA,GAONA AV. y TERRADA,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS
694,2021-0096,1,2021-12-15,2021,12,15,10:30:00,10,AV. EVA PERON 4071,AVENIDA,...,4071.0,NaN,"PERON, EVA AV. 4071",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS
695,2021-0097,1,2021-11-18,2021,11,18,06:10:00,6,PADRE CARLOS MUJICA 709,CALLE,...,709.0,NaN,PADRE CARLOS MUGICA 709,1,Point (107664.16647795 104708.63962087),-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO

En este caso, se realiza la lectura igual que en el anterior, pero debemos seleccionar la hoja ya que ambos están en un mismo archivo de tipo .xlsx (Excel).

In [4]:
data_victimas = pd.read_excel('Datasets/homicidios.xlsx',sheet_name='VICTIMAS')
data_victimas

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...
712,2021-0092,2021-12-12,2021,12,12,PEATON,PEATON,FEMENINO,50,2021-12-12 00:00:00
713,2021-0093,2021-12-13,2021,12,13,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18,2021-12-18 00:00:00
714,2021-0094,2021-12-20,2021,12,20,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43,2021-12-20 00:00:00
715,2021-0095,2021-12-30,2021,12,30,CONDUCTOR,MOTO,MASCULINO,27,2022-01-02 00:00:00
716,2021-0096,2021-12-15,2021,12,15,CONDUCTOR,AUTO,MASCULINO,60,2021-12-20 00:00:00

Se hará una revisión de de los tipos de datos de cada columna en ambos DataFrame, el primero será "data_hechos" y el segundo "data_victimas".

In [5]:
Herr.analizar_datos(data_hechos)

,Nombre,Tipos de Datos Únicos,% de Valores No Nulos,% de Valores Nulos,Cantidad de Valores Nulos
0,ID,[<class 'str'>],100.00,0.00,0
1,N_VICTIMAS,[<class 'int'>],100.00,0.00,0
2,FECHA,[<class 'pandas._libs.tslibs.timestamps.Timest...,100.00,0.00,0
3,AAAA,[<class 'int'>],100.00,0.00,0
4,MM,[<class 'int'>],100.00,0.00,0
5,DD,[<class 'int'>],100.00,0.00,0
6,HORA,"[<class 'datetime.time'>, <class 'str'>, <clas...",100.00,0.00,0
7,HH,"[<class 'int'>, <class 'str'>]",100.00,0.00,0
8,LUGAR_DEL_HECHO,[<class 'str'>],100.00,0.00,0
9,TIPO_DE_CALLE,[<class 'str'>],100.00,0.00,0
10,Calle,"[<class 'str'>, <class 'float'>]",99.86,0.14,1
11,Altura,[<class 'float'>],18.53,81.47,567
12,Cruce,"[<class 'str'>, <class 'float'>]",75.43,24.57,171
13,Dirección Normalizada,"[<class 'str'>, <class 'float'>]",98.85,1.15,8
14,COMUNA,[<class 'int'>],100.00,0.00,0
15,XY (CABA),[<class 'str'>],100.00,0.00,0
16,pos x,[<class 'str'>],100.00,0.00,0
17,pos y,[<class 'str'>],100.00,0.00,0
18,PARTICIPANTES,[<class 'str'>],100.00,0.00,0
19,VICTIMA,[<class 'str'>],100.00,0.00,0
20,ACUSADO,[<class 'str'>],100.00,0.00,0

Se observa que hay 20 columnas, 5 de ellas con más de un tipo de dato y solo 4 con nulos. Además, debemos revisar si hay datos que no figuren como nulos pero estén vacíos.

Se revisan los tipos de datos y nulos de "data_victimas",

In [6]:
Herr.analizar_datos(data_victimas)

,Nombre,Tipos de Datos Únicos,% de Valores No Nulos,% de Valores Nulos,Cantidad de Valores Nulos
0,ID_hecho,[<class 'str'>],100.0,0.0,0
1,FECHA,[<class 'pandas._libs.tslibs.timestamps.Timest...,100.0,0.0,0
2,AAAA,[<class 'int'>],100.0,0.0,0
3,MM,[<class 'int'>],100.0,0.0,0
4,DD,[<class 'int'>],100.0,0.0,0
5,ROL,[<class 'str'>],100.0,0.0,0
6,VICTIMA,[<class 'str'>],100.0,0.0,0
7,SEXO,[<class 'str'>],100.0,0.0,0
8,EDAD,"[<class 'int'>, <class 'str'>]",100.0,0.0,0
9,FECHA_FALLECIMIENTO,"[<class 'datetime.datetime'>, <class 'str'>]",100.0,0.0,0

Tenemos nueve columnas en total, tres de ellas con más de un único tipo de datos y ninguna con valores nulos. Sin embargo, como mencioné previamente, es importante revisar que no haya datos que no figuren como nulos pero estén vacíos.

--------------------------------------------------------------------------------------------------------------------------

## Transformación de los datos

### Dataframe data_hechos

In [9]:
data_hechos.head(5)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

Se eliminarán las columnas "Fecha" y "Hora" porque las mismas ya están representadas de manera dividida en otras, las cuales son para "Fecha": "AAAA" para el año, "MM" para el mes y "DD" para el día, y "Hora" es la columna "HH".

In [10]:
data_hechos = data_hechos.drop(columns=['FECHA','HORA'])
data_hechos.head(5)

,ID,N_VICTIMAS,AAAA,MM,DD,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016,1,1,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016,1,2,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016,1,3,7,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016,1,10,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016,1,21,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

Se revisa la existencia de duplicados en el Dataframe.

In [17]:
duplicados_hechos = data_hechos.duplicated()
duplicados_hechos.value_counts()

False    696
Name: count, dtype: int64

No se encontró ningún duplicado. Ahora se procederá a cambiar los nombres de las columnas para comprender mejor qué datos contiene cada una.

In [19]:
data_hechos.columns = ['Id_hecho','Nro_victimas','Anio','Mes','Dia','Hora','Lugar_hecho','Tipo_calle','Calle','Altura','Cruce','Direccion_normalizada','Comuna','Xy_plana','Long_x','Lat_y','Participantes','Victima','Acusado']

Se revisarán las columnas para verificar el tipo correcto de datos y, si es necesario, aplicar correcciones. Para esto, se utilizará el módulo propio que importé llamado Herramientas.

In [20]:
Herr.analizar_datos(data_hechos)

,Nombre,Tipos de Datos Únicos,% de Valores No Nulos,% de Valores Nulos,Cantidad de Valores Nulos
0,Id_hecho,[<class 'str'>],100.00,0.00,0
1,Nro_victimas,[<class 'int'>],100.00,0.00,0
2,Anio,[<class 'int'>],100.00,0.00,0
3,Mes,[<class 'int'>],100.00,0.00,0
4,Dia,[<class 'int'>],100.00,0.00,0
5,Hora,"[<class 'int'>, <class 'str'>]",100.00,0.00,0
6,Lugar_hecho,[<class 'str'>],100.00,0.00,0
7,Tipo_calle,[<class 'str'>],100.00,0.00,0
8,Calle,"[<class 'str'>, <class 'float'>]",99.86,0.14,1
9,Altura,[<class 'float'>],18.53,81.47,567
10,Cruce,"[<class 'str'>, <class 'float'>]",75.43,24.57,171
11,Direccion_normalizada,"[<class 'str'>, <class 'float'>]",98.85,1.15,8
12,Comuna,[<class 'int'>],100.00,0.00,0
13,Xy_plana,[<class 'str'>],100.00,0.00,0
14,Long_x,[<class 'str'>],100.00,0.00,0
15,Lat_y,[<class 'str'>],100.00,0.00,0
16,Participantes,[<class 'str'>],100.00,0.00,0
17,Victima,[<class 'str'>],100.00,0.00,0
18,Acusado,[<class 'str'>],100.00,0.00,0